// Font Size
$body-fs: 16px;

// Colors
$primary-red: hsl(0, 100%, 74%);
$primary-green: hsl(154, 59%, 51%);

$accent-blue: hsl(248, 32%, 49%);

$neutral-dark-blue: hsl(249, 10%, 26%);
$neutral-grayish-blue: hsl(246, 25%, 77%);

// Mixins
@mixin round-box-theme($text-color: white, $bg-color: white){
    color: $text-color;
    background-color: $bg-color;
    border-radius: 10px;
}

@mixin box-shadow {
    box-shadow: 0px 10px #ce6f6c;
}

// Mobile-first content
* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    background: url("../images/bg-intro-mobile.png");
    text-align: center;
    font-size: $body-fs;
    background-color: $primary-red;
    color: white;
    margin: 50px 30px;
}

.container {
    max-width: 390px;
    margin: 0 auto;
}

#main-heading {
    padding-bottom: 20px;
}

#main-text {
    margin-bottom: 20px;
}

.try-it {
    @include round-box-theme( $bg-color: $accent-blue);
    @include box-shadow();
    
    padding: 20px 30px;

    margin-bottom: 30px;

    p {
        font-weight: 400;

        span {
            color: $neutral-grayish-blue;
            font-weight: 600;
        }
    }
}

.form-container {
    @include round-box-theme();

    @include box-shadow();

    form {
        display: flex;
        flex-direction: column;
        padding: 20px;
        row-gap: 20px;

        input {
            @include round-box-theme($text-color: $neutral-grayish-blue);

            border-color: $neutral-grayish-blue;
            padding: 15px;
            color: black;
            width: 40px;
        }
        
    }
}


.claim {
    @include round-box-theme($bg-color: $primary-green);
    border-style: none;
    padding: 20px 20px;
}

.tos {
    color: $neutral-grayish-blue;
    font-size: 0.8em;


    span {
        color: $primary-red;
    }
}

.border-red {
    border-color: $primary-red;
}

.attribution { 
    font-size: 11px; text-align: center; 
    margin: 20px auto;
}
    
.attribution a { 
    color: hsl(228, 45%, 44%); 
}

@media screen and (min-width: 950px) {
    body {
        background: url("/images/bg-intro-desktop.png");
        background-color: $primary-red;
    }
    
    .container {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-areas: 'heading form';
        max-width: 1084px;
        column-gap: 20px;
    }

    .heading-section {
        grid-area: heading;
        align-self: center;
        text-align: left;
        
        #main-heading {
            font-size: 3em;
            line-height: 40pt;
        }
    }

    .form-section {
        grid-area: form;
    }

    .tos {
        margin-bottom: 20px;
    }
}