// Font Size
$body-fs: 16px;

// Colors
$primary-red: hsl(0, 100%, 74%);
$primary-green: hsl(154, 59%, 51%);

$accent-blue: hsl(248, 32%, 49%);

$neutral-dark-blue: hsl(249, 10%, 26%);
$neutral-grayish-blue: hsl(246, 25%, 77%);

// Mixins
@mixin round-box-theme($text-color: white, $bg-color: white){
    color: $text-color;
    background-color: $bg-color;
    border-radius: 10px;
}

// Mobile-first content
* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    background: url("../images/bg-intro-mobile.png");
    text-align: center;
    font-size: $body-fs;
    background-color: $primary-red;
    color: white;
    margin: 50px 30px;
}

.try-it {
    @include round-box-theme( $bg-color: $accent-blue);

    padding: 20px 30px;

    p {
        font-weight: 400;

        span {
            color: $neutral-grayish-blue;
            font-weight: 600;
        }
    }
}

.form-container {
    @include round-box-theme();
}

.claim {
    @include round-box-theme($bg-color: $primary-green);

    padding: 20px 20px;
}

.tos {
    color: $neutral-grayish-blue;


    span {
        color: $primary-red;
    }
}






.attribution { 
    font-size: 11px; text-align: center; 
}
    
.attribution a { 
    color: hsl(228, 45%, 44%); 
}